{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top:50px;">
    <div style="width: 50%;padding:30px;float:left;">
        <canvas id="age-band-chart"></canvas>
        <div class="min-height:200px;max-height:200px;overflow:hidden;">
            Percentage of accidents by age band shows that the middle-aged people experience more traffic accidents in the UK. More specifically, people between 26 and 35 years of age have the most accidents - almost one quarter of the total occurred, followed by the age bands of 36 to 45 and 46 to 55 years of age, whilst almost a 20% of accidents happening in each one of the age bands.
        </div>
    </div>
    <div style="width: 50%;padding:30px;float:left;">
        <canvas id="vehicle-age-chart"></canvas>
        <div class="min-height:200px;max-height:200px;overflow:hidden;">
            The highest percentage of accidents by vehicle age is actually on those vehicles with a non-registered age of the vehicle. Nevertheless, it is also noticeable that those people who drive newer cars tend to have a higher percentage of accidents and those with older cars tend to have less. There is a normalisation of the data in those vehicles with ages between 4 and 14.
        </div>
    </div>
    <div style="width: 50%;padding:30px;float:left;">
        <canvas id="daily-amount-chart"></canvas>
        <div class="min-height:200px;max-height:200px;overflow:hidden;">
            The chart shows the descending amount of accidents by day of the week. It is curious to remark that the amount of accidents tend to go up once the weekend gets closer, as people may become more tired and distracted/less focused as the week goes by. Nevertheless, the amount of accidents is much lower during the weekend, as less cars are found on the road and people do not tend to commute, though travel for leisure.
        </div>
    </div>
    <div style="width: 50%;padding:30px;float:left;">
        <canvas id="accident-severity-chart"></canvas>
        <div class="min-height:200px;max-height:200px;overflow:hidden;">
            Accident severity is a percentage-based chart that shows that the most common accidents tend to be slight. Around a 15% of all the latest accidents in the UK are serious and only slightly more than 1% of them are fatal.
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var data = {{ data|safe }};
    var labels = {{ labels|safe }};

</script>
<script src="{% static 'js/charts.js' %}"></script>

{% endblock %}